include ../partials/head
script(defer='' src='bundle.js')
include ../partials/modal_buy
.csu__page-container
  include ../partials/header
  include ../partials/nav
  .csu__buy-container
    .csu__buy-slider
      .slider.js_slider
        .frame.js_frame
          ul.slides.js_slides
            li.js_slide.slide1
            li.js_slide.slide2
            li.js_slide.slide3
            li.js_slide.slide4
        span.js_prev.prev
          svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewbox='0 0 501.5 501.5')
            g
              path(fill='#FFF' d='M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z')
        span.js_next.next
          svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewbox='0 0 501.5 501.5')
            g
              path(fill='#FFF' d='M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z')
    .csu__buy-specs
      .csu__buy-header-wrapper
        h3.csu__header
          | COINSAFU #1
        h4.csu__subheader
          | Price 0.005 btc (incl. Free shipping)
        p.csu__buy-spec_item.small
          | Payment in Bitcoin only
      .csu__buy-qualities-wrapper
        h3.csu__subheader About this device
        ul.csu__buy-speclist
          li.csu__buy-spec_item
            | 316 Marine Grade Stainless Steel, 40 mm diameter, 8 mm height;
          li.csu__buy-spec_item
            | 2 Polished Stainless Steel Covers with Coinsafu Logo
          li.csu__buy-spec_item
            | 1 Stainless steel Core
          li.csu__buy-spec_item
            | 2 Stainless Steel Plates for Seed Storage
          li.csu__buy-spec_item
            | Fireproof - Forged to withstand more than double the average house fire
          li.csu__buy-spec_item
            | Waterproof - Marine grade 316 stainless steel means it will never rust
          li.csu__buy-spec_item
            | Shockproof - Shockproof up to 1,000,000 volts
          li.csu__buy-spec_item
            | Hackerproof - Seeds and keys remain completely offline
          li.csu__buy-spec_item
            | Coinsafu comes in a reusable black box
            ul.csu__buy-packaging-list
              li.csu__buy-packinging-item Weight: 500 g
              li.csu__buy-packinging-item Dimensions: 125 x 90 x 20 mm
              li.csu__buy-packinging-item
                | Contents:
                ul.csu__buy-packaging-list
                  li.csu__buy-packinging-item 1 x Coinsafu Unit
                  li.csu__buy-packinging-item 1 x Conversion Sheet
                  li.csu__buy-packinging-item 9 x Metal pins (0-9)
  
      .csu__buy-form-wrapper
        .csu__form-container
          .content-wrapper
            h1.csu__cta-header
              | Reserve Now
            h2.csu__reserve-header
              | Claim yours today
            form.csu__submit-form
              input(type='hidden', name='status', value='bought')
              .csu__input-wrapper
                label(for='email-input') Email Address [required]:
                input#email-input.csu__email-input(type='email' required='' name='email_address' placeholder='john.doe@isp.com')
                
              .csu__input-wrapper
                label(for='first_name') First name:
                input#email-input.csu__email-input(type='text'  name='first_name' placeholder='John')
                
              .csu__input-wrapper
                label(for='last_name') Last Name:
                input#email-input.csu__email-input(type='text' name='last_name' placeholder='Doe')
              
              .csu__input-wrapper
                label(for='phone_number') Phonenumber:
                input#email-input.csu__email-input(type='text' name='phone' placeholder='701-243-6259')
              
              .csu__input-wrapper
                label(for='address') Delivery Address [required]:
                input#email-input.csu__email-input(type='text' name='address' placeholder='2299 Snowbird Lane, Chattanooga, TN 31904, USA')
              
              .csu__input-wrapper
                label(for='comments') Comments:
                textarea.csu__email-input(name='comment' cols='30' rows='3')
              .csu__btn-wrapper
                button.csu__submit-btn(type='submit') Order Now