include ../partials/head
script(defer='' src='bundle.js')
include ../partials/modal_home
.csu__page-container
  include ../partials/header
  include ../partials/nav
  .csu__hero-container
  .csu__content-container
    h4.csu__text-lead
      | Introducing Coinsafu, the ultimate combination of craftsmanship and design to securely
      | store your Bitcoin seed.
    p
      | Coinsafu is a pocket size stainless steel device to securely store &ZeroWidthSpace;a backup of your
      | wallet, such as the Trezor and Ledger Wallet.
    p
      | With Coinsafu, your most sensitive information is hacker-proof and safe from natural
      | disasters.
  .csu__reserve-container
    .csu__form-container
      .content-wrapper
        h1.csu__cta-header
          | Keep me Notified
        h2.csu__reserve-header
          | First 210 units shipping in August
        label(for='email-input') Email Address:
        form.csu__submit-form
          .csu__input-wrapper
            input(type='hidden', name='status', value='subscribed')
            input#email-input.csu__email-input(type='email' required='' name='email_address' placeholder='john.doe@isp.com')
            .csu__btn-wrapper
                button.csu__submit-btn(type='submit') SUBSCRIBE
  .csu__qualities-container
    .csu__qualities-row
      .list-element
        img.list-image(src='./svg//qualities/steel.svg' alt='')
        h4 Stainless
      .list-element
        img.list-image(src='./svg//qualities/fire.svg' alt='')
        h4 Fireproof
    .csu__qualities-row
      .list-element
        img.list-image(src='./svg//qualities/waterdrop.svg' alt='')
        h4 Waterproof
      .list-element
        img.list-image(src='./svg//qualities/shock.svg' alt='')
        h4 Shockproof

