.csu__modal-container.hidden
  .csu__modal-shield
  .csu__modal-dialog
    img.csu__modal-dialog-close(src='./svg/close.svg' alt='')
    .csu__modal-dialog-content
      h4 Thank You
      p We will notify you when the preorders launch.