nav.csu__nav-header
  ul.csu__nav-header-list
    li.csu__nav-header-list-item
      a.csu__nav-header-list-link(href='./buy.html') Coinsafu #1
    li.csu__nav-header-list-item
      a.csu__nav-header-list-link(href='./faq.html') FAQ
